@use '../global' as g;

.aside {
  &__bread {
    margin-bottom: 3rem;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      @include g.fz(12);

      li:not(:last-child) {
        &:after {
          content: '>';
          margin: 0 .5em;
        }
      }
    }
  }

  &__attention {
    @include g.font(12, 18);
    margin-bottom: 2rem;
  }
}