@use '../global' as g;

.page-post {
  line-height: 1.5;

  &__title {
    color: g.cl(bl01);
    @include g.fz(28);
    @include g.ls(100);
    font-weight: g.fw(b);
    margin-bottom: 3rem;

    &--none {
      @include g.mq-down(sp) {
        display: none;
      }
    }

    @include g.mq-down(sp) {
      @include g.fz(24);
    }
  }

  &__lead {
    margin-bottom: 3rem;
  }

  &__repletion {
    color: g.cl(gy);
    @include g.fz(12);
  }

  &__content {
    h2 {
      margin-bottom: 1rem;
      padding-right: 1rem;
      padding-bottom: .5rem;
      @include g.fz(20);
      @include g.ls(100);
      font-weight: g.fw(b);
      border-bottom: 1px solid;
      border-image: linear-gradient(to right, g.cl(bl01) 0%, transparent 80%, transparent 100%);
      border-image-slice: 1;
    }

    p + h2,
    figure + h2 {
      margin-top: 4rem;
    }

    h3 {
      font-size: 20px;
      letter-spacing: .1em;
      font-weight: bold;
      margin-top: 3rem;

      &::before {
        content: '';
        width: .5em;
        height: .5em;
        transform: translateY(-.125em) rotate(45deg);
        background-color: var(--color-blue01);
        display: inline-block;
        margin-right: .5em;
      }
    }

    h4,
    h5,
    h6 {
      font-size: 18px;
      letter-spacing: .1em;
      font-weight: bold;
      margin-top: 3rem;
    }

    h2 + p,
    h3 + p,
    h4 + p,
    h5 + p,
    h6 + p {
      margin-top: 1rem;
    }

    p,
    ul,
    ol,
    figure {
      margin-top: 2rem;
    }

    ul,
    ol {
      margin-left: 2rem;
    }

    li {
      list-style: disc;
    }

    table {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      display: block;
      overflow-x: auto;
      border-spacing: 0;
    }

    thead,
    tbody {
      white-space: nowrap;
    }

    th,
    td {
      padding: 10px;
      line-height: 1.5;
    }

    th {
      background: #eee;
      vertical-align: middle;
    }
  }
}