@use '../global' as g;

.search-form {
  display: flex;
  flex-direction: column;

  &__inner {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  &__label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @include g.fz(20);
    font-weight: g.fw(b);
    margin-bottom: 1rem;

    &::before {
      content: '';
      width: 5px;
      height: 1.5rem;
      background-color: g.cl(bl01);
      border-radius: 5px;
      margin-right: 10px;
    }

    &__sub {
      @include g.fz(14);
      color: g.cl(gy);
      font-weight: g.fw(r);
      margin-left: 1rem;
    }

    &__required {
      color: #fff;
      @include g.fz(14);
      background-color: g.cl(rd);
      border-radius: 5px;
      margin-left: 1rem;
      padding: 1px .5rem;
    }
  }

  &__input {
    width: 100%;
    height: 40px;
    border: 1px solid g.cl(bk);
    border-radius: 5px;
    margin-bottom: 2rem;
    padding: 0.5em;
  }

  &__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 260px;
    height: 50px;
    color: g.cl(wh);
    @include g.ls(100);
    background-color: g.cl(bk);
    border-radius: 25px;
    margin: 0 auto 1rem;
    transition: .5s;

    @include g.hover-active {
      background-color: g.cl(bl01);
    }
  }

  img {
    display: block;
    width: auto;
    margin: 0 auto;
    padding: 3px 5px;
    background-color: #fff;
  }
}