/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

body {
  font-size: 1rem;
  font-family: "Noto Sans JP", sans-serif;
  color: #192643;
  background-color: #fff;
  line-height: 1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

a {
  color: #1b8ef3;
}
@media (hover: hover) {
  a:hover {
    color: #bbdbf3;
  }
}
@media (hover: none) {
  a:active {
    color: #bbdbf3;
  }
}

dt {
  font-weight: normal;
}

.br {
  display: inline-block;
}

.noScroll {
  overflow: hidden;
}

.colorRed {
  color: #da532c;
}

.wrapper {
  width: 90%;
  max-width: 1100px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .wrapper {
    display: block;
  }
}
.wrapper_top {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 5rem auto 3rem;
}
@media screen and (max-width: 768px) {
  .wrapper_top {
    display: block;
  }
}
.wrapper_top_sub {
  width: 320px;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .wrapper_top_sub {
    width: 100%;
    margin-right: 0;
  }
}
.wrapper_top_main {
  width: calc(100% - 320px - 20px);
  padding: 0 5%;
}
.wrapper_top_main .main {
  width: 100%;
  margin-bottom: 5rem;
}
@media screen and (max-width: 768px) {
  .wrapper_top_main {
    width: 100%;
    padding: 0 2.5%;
  }
}

.header_title {
  width: 280px;
  margin: 0 auto 3rem;
}
.header_title img {
  width: 100%;
}
.header_hamburger {
  display: none;
}
@media screen and (max-width: 768px) {
  .header_hamburger {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 28px;
    z-index: 10;
  }
  .header_hamburger span {
    display: block;
    background-color: #823f1c;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
  }
  .header_hamburger span:nth-child(1) {
    top: 0;
  }
  .header_hamburger span:nth-child(2) {
    top: 12px;
  }
  .header_hamburger span:nth-child(3) {
    top: 24px;
  }
  .header_hamburger.open span:nth-child(1) {
    top: 10px;
    transform: rotate(45deg);
  }
  .header_hamburger.open span:nth-child(2) {
    width: 0;
  }
  .header_hamburger.open span:nth-child(3) {
    top: 10px;
    transform: rotate(-45deg);
  }
}
.header_nav ul li {
  width: 100%;
  text-align: center;
  line-height: 2;
  font-size: 0.875rem;
}
.header_nav ul li:not(:nth-last-child(-n+3)) {
  margin-bottom: 1rem;
}
.header_nav ul li:not(:nth-last-child(-n+3)) a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border: 1px solid #1b8ef3;
  border-radius: 20px;
  font-size: 1.125rem;
  transition: 0.5s;
}
@media (hover: hover) {
  .header_nav ul li:not(:nth-last-child(-n+3)) a:hover {
    color: #192643;
    background-color: #64b2f7;
    transition: 0.5s;
  }
}
@media (hover: none) {
  .header_nav ul li:not(:nth-last-child(-n+3)) a:active {
    color: #192643;
    background-color: #64b2f7;
    transition: 0.5s;
  }
}
.header_nav ul li:nth-last-child(4) {
  margin-bottom: 5rem;
}
.header_nav ul li:nth-last-child(2) {
  margin-bottom: 2rem;
}
.header_nav ul li:nth-last-child(1) {
  font-size: 0.625rem;
}
.header_nav ul .choice a {
  pointer-events: none;
  color: #192643;
  background-color: #64b2f7;
}
@media screen and (max-width: 768px) {
  .header_nav {
    display: none;
  }
  .header_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 5rem 5%;
    z-index: 5;
  }
  .header_nav.open {
    display: block;
  }
}

.aside_bread {
  margin-bottom: 1rem;
}
.aside_bread ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.75rem;
}
.aside_bread ul li:not(:last-child):after {
  content: ">";
  margin: 0 6px;
}

.footer {
  font-size: 0.875rem;
  text-align: center;
  line-height: 2;
  margin-bottom: 1rem;
}

.topMain_description {
  line-height: 1.5;
  margin-bottom: 3rem;
}
.topMain_box .ncodeForm {
  display: flex;
  flex-direction: column;
}
.topMain_box .ncodeForm_inner {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.topMain_box .ncodeForm_label {
  margin-bottom: 1rem;
}
.topMain_box .ncodeForm_label_sub {
  display: inline-block;
  font-size: 0.875rem;
  color: #18b7cd;
  margin-left: 1rem;
}
.topMain_box .ncodeForm_input {
  width: 100%;
  height: 40px;
  border: 1px solid #192643;
  margin-bottom: 2rem;
}
.topMain_box .ncodeForm_submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  color: #fff;
  background-color: #192643;
  margin-bottom: 1rem;
  transition: 0.5s;
}
@media (hover: hover) {
  .topMain_box .ncodeForm_submit:hover {
    color: #192643;
    background-color: #64b2f7;
    transition: 0.5s;
  }
}
@media (hover: none) {
  .topMain_box .ncodeForm_submit:active {
    color: #192643;
    background-color: #64b2f7;
    transition: 0.5s;
  }
}
.topMain_box img {
  display: block;
  width: auto;
  margin: 0 0 0 auto;
}

.privacyMain {
  line-height: 1.5;
}
.privacyMain_title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 5rem;
}
.privacyMain_content div {
  margin-bottom: 4rem;
}
.privacyMain_content dt {
  font-weight: bold;
  margin-bottom: 1rem;
  position: relative;
}
.privacyMain_content dt:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #18b7cd;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: -1;
}
.privacyMain_content dt h3 {
  display: inline-block;
  background-color: #fff;
  padding-right: 1rem;
}