@use '../foundation' as fo;


//*------------------*
//*  header
//*------------------*

.header {
  &_title {
    width: 280px;
    margin: 0 auto 3rem;

    img {
      width: 100%;
    }

    @include fo.ss-layout {
      width: 150px;
    }
  }

  &_hamburger {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 28px;
    z-index: 10;

    @include fo.sm-layout {
      display: block;
    }

    span {
      display: block;
      background-color: fo.$color-blue01;
      width: 100%;
      height: 3px;
      position: absolute;
      left: 0;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 12px;
      }

      &:nth-child(3) {
        top: 24px;
      }
    }

    @include fo.sm-layout {
      display: block;
    }
  }

  &_nav {
    margin-bottom: 2rem;

    @include fo.sm-layout {
      display: none;
    }

    ul {
      li {
        width: 100%;
        text-align: center;
        line-height: 2;
        font-size: fo.rem(14);

        &:not(:nth-last-child(-n+3)) {
          margin-bottom: 1rem;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50px;
            color: fo.$color-blue01;
            border-width: 1px 0 1px 1px;
            border-style: solid;
            border-color: fo.$color-blue01;
            font-size: fo.rem(18);
            transition: .5s;

            @include fo.hover {
              color: fo.$color-light;
              background-color: fo.$color-blue02;
              transition: .5s;
            }

            @include fo.sm-layout {
              height: 40px;
              border-radius: 20px;
              border-width: 1px 1px 1px 1px;
            }
          }
        }

        &:nth-last-child(4) {
          margin-bottom: 4rem;
        }

        &:nth-last-child(2) {
          margin-bottom: 2rem;
        }

        &:nth-last-child(1) {
          font-size: fo.rem(10);
        }
      }

      .choice a {
        pointer-events: none;
        color: fo.$color-light  !important;
        background-color: fo.$color-blue01;
      }
    }
  }

  &.open {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: fo.$color-light;
    padding: 5rem 5%;
    z-index: 5;
    overflow: auto;

    .header_hamburger {
      span {
        &:nth-child(1) {
          top: 10px;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          width: 0;
        }

        &:nth-child(3) {
          top: 10px;
          transform: rotate(-45deg);
        }
      }
    }

    .header_nav {
      display: block;
    }
  }
}